<section class="bg-primary" id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">About Outdoor Curling</h2>
                <hr class="light">
                <p class="text-faded">
                Blurb: who is organizing, not affiliated with the club, 
                important to read policies, link to ice time is below. 
                </p>
                <a href="#schedule" class="btn btn-default btn-xl">Get Started!</a>
            </div>
        </div>
    </div>
</section>
